<% provide(:title, '编辑教师信息') %>
<h1>编辑教师信息</h1>
<div class="col-md-6">
  <div class="span6 offset3">
    <%= form_for @teacher, multiple: true do |f| %>
      <%= render '/shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :name, "姓名", class: "name_label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :teacher_id, "工号" %>
        <%= f.text_field :teacher_id, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :picture, "图片" %>
        <%= f.file_field :picture %>
        <p>
          或 图片链接:
          <%= f.text_field :remote_picture_url %>
        </p>

        <%= image_tag(@teacher.picture.url, class: "img-rounded") if @teacher.picture? %>
      </div>

      <%= f.submit "提交", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

