<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "2015 年度最受欢迎教师投票", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "首页", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "管理", admin_path if current_user.admin %></li>
          <li><%= link_to "退出", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "登录", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>